<a href="https://colab.research.google.com/github/Tiabet/Python_Study/blob/master/Movie_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("영화_최종데이터.csv")

In [ ]:
df

,Movie,Date,Total Sales,Sales Share,Cumulative Sales,Total Attendance,Cumulative Attendance,Screen Count,Show Count,Country,...,sentiment,YearMonth,남자 인구수,여자 인구수,총인구수,가계지출,소비지출,비소비지출,ViewCount,LikeCount
0,서울의 봄,2023-11-22,127926589712,0.051,127926589712,13128020,13128020,2463,374531,한국,...,82.06,2023.11,25572695.0,25764381.0,51337076.0,2183.0,1895.0,288.0,3322023.0,18708.0
1,범죄도시2,2022-05-18,129317928648,0.052,131298796478,12510481,12693415,2521,353993,한국,...,77.67,2022.05,25715591.0,25868131.0,51583722.0,1804.0,1512.0,292.0,3910955.0,23841.0
2,파묘,2024-02-22,115063079635,0.046,115063079635,11904253,11904253,2367,363781,한국,...,52.67,2024.02,25553189.0,25750499.0,51303688.0,NaN,NaN,NaN,3107834.0,11026.0
3,아바타: 물의 길,2022-12-14,137647702899,0.055,137647702899,10805065,10805065,2809,283037,미국,...,56.42,2022.12,25636951.0,25802087.0,51439038.0,2169.0,1802.0,367.0,2385290.0,12620.0
4,범죄도시3,2023-05-31,104687737771,0.042,104687737771,10682813,10682813,2582,311915,한국,...,57.46,2023.05,25612361.0,25788160.0,51400521.0,1979.0,1718.0,261.0,1995731.0,5738.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,블랙폰,2022-09-07,1085449042,0.000,1085449042,107715,107715,495,10809,미국,...,48.73,2022.09,25653998.0,25812660.0,51466658.0,2097.0,1696.0,401.0,56755.0,368.0
159,스마일,2022-10-06,1124306658,0.000,1124306658,105651,105651,455,7659,미국,...,77.27,2022.10,25649509.0,25810117.0,51459626.0,1974.0,1646.0,328.0,425019.0,429.0
160,뉴 노멀,2023-11-08,987958873,0.000,987958873,103037,103037,546,10934,한국,...,75.50,2023.11,25572695.0,25764381.0,51337076.0,2183.0,1895.0,288.0,116346.0,2075.0
161,비키퍼,2024-04-03,962290905,0.000,962290905,102969,102969,713,13022,미국,...,46.90,2024.04,25541855.0,25743298.0,51285153.0,NaN,NaN,NaN,612436.0,85.0
162,엘비스,2022-07-13,1098745318,0.000,1098745318,101522,101522,665,10094,미국,...,87.20,2022.07,25708650.0,25865796.0,51574446.0,1801.0,1504.0,297.0,1582681.0,1573.0

In [ ]:
df.columns

Index(['Movie', 'Date', 'Total Sales', 'Sales Share', 'Cumulative Sales',
       'Total Attendance', 'Cumulative Attendance', 'Screen Count',
       'Show Count', 'Country', 'Production Country', 'Production Company',
       'Distributor', 'Level', 'Director', 'Production Budgets', 'Success',
       'actor1', 'actor2', 'actor3', 'genre1', 'genre2', 'rating', 'sentiment',
       'YearMonth', '남자 인구수', '여자 인구수', '총인구수', '가계지출', '소비지출', '비소비지출',
       'ViewCount', 'LikeCount'],
      dtype='object')

In [ ]:
df.isna().sum()

Movie                     0
Date                      0
Total Sales               0
Sales Share               0
Cumulative Sales          0
Total Attendance          0
Cumulative Attendance     0
Screen Count              0
Show Count                0
Country                   0
Production Country        0
Production Company       81
Distributor               0
Level                     0
Director                  5
Production Budgets        0
Success                   0
actor1                   15
actor2                   18
actor3                   27
genre1                    0
genre2                   89
rating                    3
sentiment                 3
YearMonth                 0
남자 인구수                    2
여자 인구수                    2
총인구수                      2
가계지출                     29
소비지출                     29
비소비지출                    29
ViewCount                 3
LikeCount                 3
dtype: int64

In [ ]:
df[df['rating']>5]

,Movie,Date,Total Sales,Sales Share,Cumulative Sales,Total Attendance,Cumulative Attendance,Screen Count,Show Count,Country,...,sentiment,YearMonth,남자 인구수,여자 인구수,총인구수,가계지출,소비지출,비소비지출,ViewCount,LikeCount
9,공조2 : 인터내셔널,2022-09-07,70918411586,0.028,70918411586,6983077,6983077,2389,275817,한국,...,64.0,2022.09,25653998.0,25812660.0,51466658.0,2097.0,1696.0,401.0,1099569.0,1647.0
40,잠,2023-09-06,13894258933,0.006,13894258933,1470359,1470359,1231,103697,한국,...,77.8,2023.09,25592335.0,25777666.0,51370001.0,2117.0,1772.0,345.0,937673.0,2253.0
160,뉴 노멀,2023-11-08,987958873,0.000,987958873,103037,103037,546,10934,한국,...,75.5,2023.11,25572695.0,25764381.0,51337076.0,2183.0,1895.0,288.0,116346.0,2075.0

In [ ]:
df[df['rating']>5]['rating']

9      7.20
40     8.00
160    7.75
Name: rating, dtype: float64

In [ ]:
df.loc[9,'rating'] = 3.35
df.loc[40,'rating'] = 3.65
df.loc[160,'rating'] =  3.05

In [ ]:
df['rating'] = df['rating'].fillna(df['rating'].mean())

In [ ]:
df['sentiment'] = df['sentiment'].fillna(df['sentiment'].mean())

In [ ]:
df.to_csv('영화_최종데이터_v2.csv',index=False)

In [ ]:
tmp = pd.read_csv('actor_genre_pp.csv')

In [ ]:
tmp

,Movie,Date,Total Sales,Sales Share,Cumulative Sales,Total Attendance,Cumulative Attendance,Screen Count,Show Count,Country,...,소비지출,비소비지출,ViewCount,LikeCount,Actor1,Actor2,Actor3,Month,GENRE1,GENRE2
0,서울의 봄,2023-11-22,127926589712,0.051,127926589712,13128020,13128020,2463,374531,한국,...,1895.0,288.0,3322023.0,18708.0,7424560.0,6676369.0,7593444.5,11,0.12,NaN
1,범죄도시2,2022-05-18,129317928648,0.052,131298796478,12510481,12693415,2521,353993,한국,...,1512.0,292.0,3910955.0,23841.0,7994955.7,6832765.5,12693415.0,5,0.17,0.13
2,파묘,2024-02-22,115063079635,0.046,115063079635,11904253,11904253,2367,363781,한국,...,NaN,NaN,3107834.0,11026.0,11904253.0,7589735.5,4794673.6,2,0.30,0.17
3,아바타: 물의 길,2022-12-14,137647702899,0.055,137647702899,10805065,10805065,2809,283037,미국,...,1802.0,367.0,2385290.0,12620.0,5081675.7,5517888.5,5517888.5,12,0.06,0.19
4,범죄도시3,2023-05-31,104687737771,0.042,104687737771,10682813,10682813,2582,311915,한국,...,1718.0,261.0,1995731.0,5738.0,10682813.0,7994955.7,10682813.0,5,0.17,0.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,블랙폰,2022-09-07,1085449042,0.000,1085449042,107715,107715,495,10809,미국,...,1696.0,401.0,56755.0,368.0,107715.0,107715.0,107715.0,9,0.17,NaN
159,스마일,2022-10-06,1124306658,0.000,1124306658,105651,105651,455,7659,미국,...,1646.0,328.0,425019.0,429.0,105651.0,105651.0,105651.0,10,0.10,0.17
160,뉴 노멀,2023-11-08,987958873,0.000,987958873,103037,103037,546,10934,한국,...,1895.0,288.0,116346.0,2075.0,103037.0,103037.0,103037.0,11,0.25,0.12
161,비키퍼,2024-04-03,962290905,0.000,962290905,102969,102969,713,13022,미국,...,NaN,NaN,612436.0,85.0,667462.3,407665.0,102969.0,4,0.08,0.08
162,엘비스,2022-07-13,1098745318,0.000,1098745318,101522,101522,665,10094,미국,...,1504.0,297.0,1582681.0,1573.0,101522.0,101522.0,101522.0,7,0.05,NaN

In [21]:
df = tmp

In [22]:
df.loc[9,'rating'] = 3.35
df.loc[40,'rating'] = 3.65
df.loc[160,'rating'] =  3.05

df['rating'] = df['rating'].fillna(df['rating'].mean())

df['sentiment'] = df['sentiment'].fillna(df['sentiment'].mean())

In [23]:
df.to_csv('영화_최종데이터_v3.csv',index=False)

In [24]:
df.isna().sum()

Movie                     0
Date                      0
Total Sales               0
Sales Share               0
Cumulative Sales          0
Total Attendance          0
Cumulative Attendance     0
Screen Count              0
Show Count                0
Country                   0
Production Country        0
Production Company       81
Distributor               0
Level                     0
Director                  5
Production Budgets        0
Success                   0
actor1                   15
actor2                   18
actor3                   27
genre1                    0
genre2                   89
rating                    0
sentiment                 0
YearMonth                 0
남자 인구수                    2
여자 인구수                    2
총인구수                      2
가계지출                     29
소비지출                     29
비소비지출                    29
ViewCount                 3
LikeCount                 3
Actor1                   15
Actor2                   18
Actor3                   27
Month                     0
GENRE1                    0
GENRE2                   89
dtype: int64