In [19]:
import pandas as pd
from collections import Counter

In [2]:
df = pd.read_parquet('데이터/02~23/news_oil_02~23_sentiment.parquet')

In [3]:
df

                                                  title       date  sentiment
0     Building Beefy Blocks - Hardcore Tech! 360 A-B... 2002-01-01          1
1       PM: Guyana Oil Production Frustrated by Neig... 2002-01-09          0
2     A Reclusive Oil Baron Builds 'Taj Mahal' in Sa... 2002-01-10          1
3           SCOTLAND | BP fined £1m for safety offences 2002-01-18          0
4                          Gas prices expected to spike 2002-01-27          0
...                                                 ...        ...        ...
5939  Brazil environment minister demands 'ceiling' ... 2023-12-25          0
5940  Oil drops almost 2% as investors watch Red Sea... 2023-12-27          0
5941  Oil prices shed 10% in 2023 as supply, demand ... 2023-12-29          0
5942      Why Oil Prices Never Surged to $100 This Year 2023-12-29          0
5943  Oil Prices Poised To Climb in 2024 Amid Geopol... 2023-12-30          2

[5944 rows x 3 columns]

In [4]:

# Set 'date' column as the index
df.set_index('date', inplace=True)

In [10]:
# Define the aggregation function
def agg_func(x):
    titles = ' '.join(x['title'])
    if len(x['sentiment']) > 0:
        sentiment = Counter(x['sentiment']).most_common(1)[0][0]
    else:
        sentiment = None
    return pd.Series({'title': titles, 'sentiment': sentiment})

           date                                              title  sentiment
0    2002-01-06  Building Beefy Blocks - Hardcore Tech! 360 A-B...        1.0
1    2002-01-13  PM: Guyana Oil Production Frustrated by Neig.....        0.0
2    2002-01-20        SCOTLAND | BP fined £1m for safety offences        0.0
3    2002-01-27  Gas prices expected to spike Gas prices expect...        0.0
4    2002-02-03  Riyadh Crude Oil-Fired Power Plant Petro-Canad...        1.0
...         ...                                                ...        ...
1143 2023-12-03  Revealed: Saudi Arabia’s grand plan to ‘hook’ ...        1.0
1144 2023-12-10  Red Sea chokepoints are critical for internati...        0.0
1145 2023-12-17  Oil prices have been falling for seven weeks s...        0.0
1146 2023-12-24  Why olive oil prices are soaring and what to d...        0.0
1147 2023-12-31  Brazil environment minister demands 'ceiling' ...        0.0

[1148 rows x 3 columns]

In [20]:
# Resample the DataFrame to end on Fridays
weekly_df = df.resample('W-FRI').apply(lambda x: agg_func(x) if not x.empty else pd.Series({'title': '', 'sentiment': None}))

# Reset index to turn 'date' back into a column
weekly_df.reset_index(inplace=True)

weekly_df

           date                                              title  sentiment
0    2002-01-04  Building Beefy Blocks - Hardcore Tech! 360 A-B...        1.0
1    2002-01-11  PM: Guyana Oil Production Frustrated by Neig.....        0.0
2    2002-01-18        SCOTLAND | BP fined £1m for safety offences        0.0
3    2002-01-25                                                           NaN
4    2002-02-01  Gas prices expected to spike Gas prices expect...        1.0
...         ...                                                ...        ...
1144 2023-12-08  Oil companies pledge to lower methane emission...        0.0
1145 2023-12-15  The west's Russia oil ban, one year on Oil pri...        1.0
1146 2023-12-22  Will oil prices rise after Red Sea shipping cu...        0.0
1147 2023-12-29  Brazil environment minister demands 'ceiling' ...        0.0
1148 2024-01-05  Oil Prices Poised To Climb in 2024 Amid Geopol...        2.0

[1149 rows x 3 columns]

In [36]:
weekly_df[weekly_df['sentiment'].isnull()]['date']

3      2002-01-25
8      2002-03-01
31     2002-08-09
51     2002-12-27
236    2006-07-14
          ...
1109   2023-04-07
1112   2023-04-28
1114   2023-05-12
1115   2023-05-19
1116   2023-05-26
Name: date, Length: 78, dtype: datetime64[us]

In [21]:
weekly_df.to_parquet('02~23_weekly_oil_sentiment_null.parquet', engine = 'pyarrow', compression = 'gzip', index = False)

In [16]:
weekly_df['sentiment'] = weekly_df['sentiment'].fillna(0)

In [18]:
weekly_df.to_parquet('02~23_weekly_oil_sentiment.parquet', engine = 'pyarrow', compression = 'gzip', index = False)