In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd
import mysql.connector
import re

In [2]:
column_names = ['title','date']
new_df = pd.DataFrame(columns = column_names)

In [3]:
idx = 0

In [4]:
chromedriver_path = 'C:/Users/kkksk/.wdm/drivers/chromedriver/win64/122.0.6261.129/chromedriver.exe'
service = Service(chromedriver_path)
driver = webdriver.Chrome(service=service)

In [5]:
to_crawl = pd.read_csv("15일이상결측치인달.csv")

In [22]:
target = to_crawl.sort_values(by = ['year','month'])
target = target.reset_index()
target.drop('index', axis = 1, inplace = True)
target

     year  month  missing_days
0    1986     11            25
1    1987      2            18
2    1988      1            17
3    1988      4            16
4    1988      5            19
..    ...    ...           ...
122  2001      8            22
123  2001      9            17
124  2001     10            17
125  2001     11            18
126  2001     12            22

[127 rows x 3 columns]

In [26]:
target.loc[0].year

1986

In [ ]:
#cur_month = 1
#cur_year = 1995
#target_year = 2009

count=0
max_count = 126

#while cur_year <= target_year:
while count <= max_count:
    
    cur_year = target.loc[count].year
    cur_month = target.loc[count].month
    
    url = f"https://www.google.com/search?q=crude+oil&tbs=bkt:s,cdr:1,cd_min:{cur_month}/1/{cur_year},cd_max:{cur_month}/31/{cur_year}&tbm=bks"
    driver.get(url)
    
    time.sleep(30)
    
    next_button_time = 0
    
    while True:
        news_results = driver.find_elements(By.CSS_SELECTOR, 'div#rso>div')
        if not news_results: 
            break  
            
        for news_div in news_results:
            try:
                #Link = news_div.find_element(By.TAG_NAME, 'a').get_attribute('href')
                title_element = news_div.find_element(By.CSS_SELECTOR, 'a>h3')
                Title = title_element.text.strip(".")
                Title = re.sub(r"- \d+페이지", "", Title)
                news_elements = news_div.find_elements(By.CSS_SELECTOR, 'div')
                Date = ''  # Default Date value if not found
                if len(news_elements) >= 10:
                    info = news_elements[10].text  # Assuming 'info' is in the 11th element
                    info_text = info.split("·")
                    if len(info_text) > 1:  # Check if Date is available
                        Date = info_text[1].strip()
                
                #new_df.loc[idx] = [Title, Link, Date]
                new_df.loc[idx] = [Title, Date]
                idx += 1

            except Exception as e:
                print(e)
            
        try:
            if next_button_time < 10:
                next_button = driver.find_element(By.ID, 'pnnext')
                next_button.click()
                next_button_time +=1
                time.sleep(1)
            else :
                break
        except NoSuchElementException:
            break

    if cur_month == 7:  
        cur_month = 1
        cur_year += 1
    else: 
        cur_month += 6