In [1]:
import pandas as pd

In [73]:
df = pd.read_parquet('newsdata.parquet')

In [74]:
df.drop('url', axis = 1, inplace  = True)
df

                                                   title       date
0                       Crude Oil Finds Off Target Apea  1986-01-01
1      Mexico Announces Retroactive Crude Oil Price Cut  1986-01-01
2        Mexico Tries New Strategy In Cutting Oil Price  1986-01-01
3                           Mexico Cuts Crude Oil Price  1986-01-01
4                   Oil Prices Set To Take Further Cuts  1986-01-02
...                                                  ...        ...
27966  Crude oil up on tensions in West Asia China ec... 2024-01-30
27967  Oil settles lower on faltering China economy U... 2024-01-31
27968  Crude oil declines as Chinese manufacturing ac... 2024-01-31
27969  Irans oil exports reach 5year high with China ... 2024-01-31
27970              US Crude Oil Stocks Rose For the Week 2024-01-31

[27971 rows x 2 columns]

In [75]:
df['date'] = pd.to_datetime(df['date'])

In [76]:
df

                                                   title       date
0                       Crude Oil Finds Off Target Apea  1986-01-01
1      Mexico Announces Retroactive Crude Oil Price Cut  1986-01-01
2        Mexico Tries New Strategy In Cutting Oil Price  1986-01-01
3                           Mexico Cuts Crude Oil Price  1986-01-01
4                   Oil Prices Set To Take Further Cuts  1986-01-02
...                                                  ...        ...
27966  Crude oil up on tensions in West Asia China ec... 2024-01-30
27967  Oil settles lower on faltering China economy U... 2024-01-31
27968  Crude oil declines as Chinese manufacturing ac... 2024-01-31
27969  Irans oil exports reach 5year high with China ... 2024-01-31
27970              US Crude Oil Stocks Rose For the Week 2024-01-31

[27971 rows x 2 columns]

In [83]:
# Example: Sorting with NaT values at the end
df = df.sort_values(by='date')

In [84]:
df.loc[20999:]

                                                   title       date
20999  Gas Prices On The Rise Rumor Of Production Cut... 1999-03-12
21000  Gasoline On The Rise Paying At The Pump Follow... 1999-03-12
21001  Oil Price Rebound Pushing Low Pump Prices Back... 1999-03-12
9712   Pump Prices Up With OilPrice Rally Crude Oil C... 1999-03-12
21002  Oil Price Rebound Pushing Low Pump Prices Back... 1999-03-12
...                                                  ...        ...
27965  Oil prices rise as IMF boosts growth forecast ... 2024-01-30
27968  Crude oil declines as Chinese manufacturing ac... 2024-01-31
27969  Irans oil exports reach 5year high with China ... 2024-01-31
27967  Oil settles lower on faltering China economy U... 2024-01-31
27970              US Crude Oil Stocks Rose For the Week 2024-01-31

[16083 rows x 2 columns]

In [91]:
df.loc[20999]['date']

Timestamp('1999-03-12 00:00:00')

In [82]:
df.to_csv('newsdata_test.csv',index = False)

In [92]:
df.index = df['date']

In [94]:
sorted_df = df.sort_index()

In [103]:
sorted_df.to_csv("testfile.csv")

In [104]:
sorted_df.to_csv('newsdata.csv', index = False)

In [114]:
df = pd.read_csv('newsdata.csv')

In [115]:
df = df[20001:]

In [116]:
df.to_csv('내담당.csv', index = False)