In [19]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import ast

In [3]:
# Sentence BERT 임베딩을 사용하여 군집화 수행
kmeans_30 = KMeans(n_clusters=30, random_state=42)

In [47]:
df = pd.read_csv('newsdata_embedding.csv')

In [48]:
def str_to_array(s):
    # Convert string to a list of floats
    list_array = [float(x) for x in s.strip('[]').split()]
    # Convert list to a numpy array
    return np.array(list_array)

# Apply the parsing function to each row in the embedding column
df['embedding'] = df['embedding'].apply(str_to_array)

In [51]:
# Assuming df_news['embedding'] contains your embedding vectors as numpy arrays
embeddings = np.stack(df['embedding'].values)

In [52]:
kmeans_30.fit(embeddings)

KMeans(n_clusters=30, random_state=42)

In [53]:
kmeans_30.labels_

array([20, 20, 21, ..., 14, 14,  2])

In [54]:
df['cluster_30'] = kmeans_30.labels_

In [56]:
kmeans_50 = KMeans(n_clusters=50, random_state=42)
kmeans_10 = KMeans(n_clusters=10, random_state=42)

In [58]:
kmeans_10.fit(embeddings)
kmeans_50.fit(embeddings)

KMeans(n_clusters=50, random_state=42)

In [59]:
df['cluster_10'] = kmeans_10.labels_

In [60]:
df['cluster_50'] = kmeans_50.labels_

In [78]:
kmeans_2 = KMeans(n_clusters=2, random_state=42)
kmeans_2.fit(embeddings)

KMeans(n_clusters=2, random_state=42)

In [79]:
df['cluster_2'] = kmeans_2.labels_

In [80]:
df

,Unnamed: 0,title,url,published_date,embedding,cluster_30,cluster_10,cluster_50,cluster_2
0,0,Notice To Oil Producers. Public Offer By North...,https://books.google.co.kr/books?id=v3dkAAAAIB...,1986-01-02,"[0.0966369808, -0.0566932149, 0.384515971, 0.1...",20,9,40,1
1,1,Notice To Oil Producers. Public Offer By North...,https://books.google.co.kr/books?id=wHdkAAAAIB...,1986-01-03,"[0.0966369808, -0.0566932149, 0.384515971, 0.1...",20,9,40,1
2,2,Upg Falco Canada Notice. Ta All Producers.,https://books.google.co.kr/books?id=wndkAAAAIB...,1986-01-05,"[-0.200891644, -0.281545281, 0.104159236, -0.1...",21,3,1,1
3,0,Supertankers Face Extinction - The Washington ...,https://www.washingtonpost.com/archive/busines...,1986-01-05,"[-0.301970273, 0.32379958, 0.380935878, 0.2485...",21,3,16,1
4,3,Upg Falco Canada. Ups Canada. Notice To Oil Pr...,https://books.google.co.kr/books?id=w3dkAAAAIB...,1986-01-06,"[-0.258375376, -0.187816754, 0.253245354, 0.14...",20,9,40,1
...,...,...,...,...,...,...,...,...,...
9128,6194,"Crude oil up on tensions in West Asia, China e...",https://www.business-standard.com/markets/news...,2024-01-30,"[-0.259634465, 0.0312142223, 0.322663069, 0.24...",14,5,43,0
9129,6200,"Oil settles lower on faltering China economy, ...",https://www.reuters.com/markets/commodities/oi...,2024-01-31,"[-0.0813784599, 0.104424357, 0.538641691, 0.37...",14,6,43,0
9130,6202,Crude oil declines as Chinese manufacturing ac...,https://www.thehindubusinessline.com/markets/c...,2024-01-31,"[0.00711747445, 0.0783436373, 0.620830119, 0.4...",14,6,43,0
9131,6199,"Iran's oil exports reach 5-year high, with Chi...",https://asia.nikkei.com/Business/Markets/Commo...,2024-01-31,"[-0.160559565, -0.0998382643, 0.315434992, 0.1...",14,5,43,0
9132,6201,U.S. Crude Oil Stocks Rose For the Week,https://www.wsj.com/business/energy-oil/u-s-cr...,2024-01-31,"[-0.312405109, -0.362817287, 0.294909924, 0.36...",2,6,11,0

In [62]:
from sklearn.metrics import silhouette_score

In [74]:
silhouette_avg = silhouette_score(embeddings, kmeans_4.labels_)

print(f'Silhouette Coefficient: {silhouette_avg:.3f}')

Silhouette Coefficient: 0.027

In [72]:
kmeans_4 = KMeans(n_clusters=4, random_state=42)

In [73]:
kmeans_4.fit(embeddings)

KMeans(n_clusters=4, random_state=42)

In [ ]:
# Assuming embeddings is your dataset
models = {}  # Dictionary to store models
silhouette_scores = {}  # Dictionary to store silhouette scores

for i in range(2, 100):  # Start from 2 because silhouette score needs at least 2 clusters to work
    model = KMeans(n_clusters=i, random_state=42)
    model.fit(embeddings)
    labels = model.labels_
    silhouette_avg = silhouette_score(embeddings, labels)
    
    models[i] = model
    silhouette_scores[i] = silhouette_avg

In [77]:
best_cluster_size = max(silhouette_scores, key=silhouette_scores.get)
best_silhouette_score = silhouette_scores[best_cluster_size]

print(f'Best cluster size: {best_cluster_size}')
print(f'Best Silhouette Score: {best_silhouette_score}')

Best cluster size: 2
Best Silhouette Score: 0.043500725404404535

In [81]:
df.to_csv('newsdata_embedding+clustering.csv',index = False)