## 결측치 데이터 전처리 및 감정지수 분석

In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("영화정보_2224_흥행여부추가_배우_장르_수정.csv")
df.head()

,Unnamed: 0,Rank,Movie,Date,Total Sales,Sales Share,Cumulative Sales,Total Attendance,Cumulative Attendance,Screen Count,...,Distributor,Level,Director,Production Budgets,Success,actor1,actor2,actor3,genre1,genre2
0,0,1,서울의 봄,2023-11-22,127926589712,0.051,127926589712,13128020,13128020,2463,...,플러스 엔터테인먼트,12세이상관람가,김성수,233.0,1.0,황정민,윤호림,이미라,드라마,NaN
1,1,2,범죄도시2,2022-05-18,129317928648,0.052,131298796478,12510481,12693415,2521,...,"주식회사 에이비오엔터테인먼트,플러스 엔터테인먼트",15세이상관람가,이상용,130.0,1.0,마동석,손석구,최귀화,범죄,액션
2,2,3,파묘,2024-02-22,115063079635,0.046,115063079635,11904253,11904253,2367,...,(주)쇼박스,15세이상관람가,장재현,140.0,1.0,최민식,김고은,유해진,미스터리,공포(호러)
3,3,4,아바타: 물의 길,2022-12-14,137647702899,0.055,137647702899,10805065,10805065,2809,...,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,제임스 카메,3250.0,NaN,조 샐다나,샘 워싱턴,시고니 위버,액션,어드벤처
4,4,5,범죄도시3,2023-05-31,104687737771,0.042,104687737771,10682813,10682813,2582,...,"주식회사 에이비오엔터테인먼트,플러스 엔터테인먼트",15세이상관람가,이상용,135.0,1.0,정호진,마동석,황순명,범죄,액션

In [44]:
df_cine = pd.read_csv("영화리뷰_씨네21.csv")
df_cine

         title  rating                                            reviews
0      싱글 인 서울     6.0  박범수 감독이 연출한 <싱글 인 서울>은 책을 출판하기 위해 함께하는 두 남녀의 사...
1      싱글 인 서울    10.0  한국에서 청년층이 연애하지 않는 이유를 사회적인 제약으로만 생각하려는 경향이 강하다...
2      싱글 인 서울     8.0  평범하면서 가을 느낌을 솔솔 풍기며 힐링을 주는 로맨틱코미디영화였습니다! 싱글을 전...
3    아바타: 물의 길     8.0  제임스 카메론 감독이 연출한 <아바타: 물의 길>은 13년 만에 제작된 <아바타>의...
4    아바타: 물의 길    10.0  존재 자체로 각인되는 아바타 두 번째 이야기 ‘물의 길’은 감독 제임스 카메론의 본...
..         ...     ...                                                ...
642        더 문     8.0  달과 우주를 배경으로 긴장과 몰입 그리고 감동을 함께 선사한 SF영화였습니다! 한국...
643        더 문    10.0          Actor Doh Kyungsoo's big screen comeback!
644         타겟     6.0                       억울한 일을 당하는 역할은 서영희 이후 신혜선이 갑
645         타겟     5.0  박희곤 감독이 연출한 <타겟>은 중고거래 사기를 당한 여성이 복수를 하려다 벌어지는...
646         타겟     8.0  소름돋으면서 긴장감을 형성시킨 서스펜스범죄영화였습니다! 중고거래를 명목으로 사기 및...

[647 rows x 3 columns]

In [45]:
df_cine['title'].nunique()

149

In [46]:
df_cine['rating'].apply(lambda x: x / 2 if x > 5 else x)

0      3.0
1      5.0
2      4.0
3      4.0
4      5.0
      ...
642    4.0
643    5.0
644    3.0
645    5.0
646    4.0
Name: rating, Length: 647, dtype: float64

In [47]:
df_tmp = pd.read_csv("영화리뷰.csv")
df_tmp

         title  rating                                            reviews
0        서울의 봄     3.9  ['하아 대머리 죽었지만 다시 죽이고픔', '야만과 무능의 그 겨울밤에 대한 분노가...
1        범죄도시2     3.5  ['“돈 필요해? 5대 5로 나눌까?”\n\n“누가 5야?”', '스토리가 좀 빈약...
2           파묘     3.5  ['왜놈새끼 죽어서도 지랄이네…', '돼지띠 청년들 이 영화 보시고 일자리 정보 얻...
3    아바타: 물의 길     3.7  ['3시간 12분은 이 혁명적인 영상미가 무뎌지기에 충분한 시간이었고, 그럼에도 대...
4        범죄도시3     3.0  ['고착화의 불안감이 엄습해오나 아직까진 관객에게 유효타가 먹혀든 후속작.', '기...
..         ...     ...                                                ...
158        블랙폰     2.8  ['이유없이 갈팡질팡.', '긴장감과 답답함도 많은 부분을 차지했지만 해소되는 느낌...
159        스마일     3.8  ['여자판 죽은 시인의 사회라는 왓챠 코멘트가 질색날 정도로 싫다. 뜬 구름 잡던 ...
160       뉴 노멀     NaN                                                NaN
161        비키퍼     2.8  ['무난하게 즐길 수 있는 양산형 일당백 액션물이지만, 제이슨 스타뎀 형님만의 무자...
162        엘비스     3.5  ['영화 자체가 폭죽 같다. 그 끝이 아련하고 스산해서 더욱 그렇다.', '빛이 비...

[163 rows x 3 columns]

In [48]:
df_tmp[df_tmp['rating'].isna()]

                             title  rating reviews
9                        공조2: 인터내셔     NaN     NaN
40                             NaN     NaN     NaN
77         귀멸의 칼날: 상현집결, 그리 도공 마을로     NaN     NaN
81   귀멸의 칼날: 인연의 기적, 그리 합동 강화 훈련으로     NaN     NaN
85                            늑대사냥     NaN     NaN
114      포켓 몬스터 DP: 아르세우스 초극의 시공으로     NaN     NaN
160                           뉴 노멀     NaN     NaN

In [49]:
import ast

reviews_df = df_tmp.dropna()

reviews_df['reviews'] = reviews_df['reviews'].apply(ast.literal_eval)

C:\Users\kkksk\AppData\Local\Temp\ipykernel_6712\1301954876.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_df['reviews'] = reviews_df['reviews'].apply(ast.literal_eval)

In [50]:
# Explode the dataframe to create one row per review
expanded_reviews_df = reviews_df.explode('reviews').reset_index(drop=True)

In [51]:
df_watcha = expanded_reviews_df

In [52]:
df_watcha.loc[df_watcha['title'] == ' 틀맨','title'] = '젠틀맨'
df_watcha[df_watcha['title'] == '젠틀맨']

    title  rating                                            reviews
914   젠틀맨     3.0                               성매매boy가 무슨 결혼이야 뒤질려고
915   젠틀맨     3.0                            다프네 결혼 생활이 더 궁금한 거부터 문제
916   젠틀맨     3.0  - 아주 귀엽고 쌔끈하고 콩닥거리고 다 했던 시즌1과는 비교조차 안됨. 일단 남녀주...
917   젠틀맨     3.0                  구레나룻 좀 잘랐다고 이렇게 핫해져도 되는 거임? 앤소니도?
918   젠틀맨     3.0  둘의 케미는 좋은데 7화까지 고구마먹다가 겨우 이뤄진다. 진도가 너무 안나감... ...
919   젠틀맨     3.0                               다프네가 갓캐였다.. 무매력인 형제들
920   젠틀맨     3.0          걍... 부잣집 브리저튼 둘째 셋째 아들내미들\n팔자가 제일 부러움....
921   젠틀맨     3.0  하는 짓이 하도 답답해서 로맨스 빼고 보니까 갑자기 이해됨 뭐지??? 이마를 탁쳤다...

In [53]:
df_watcha.nunique()

title       156
rating       27
reviews    1235
dtype: int64

In [54]:
df_watcha['reviews'] = df_watcha['reviews'].apply(lambda x: x.replace('\n\n', ''))
df_watcha['reviews'] = df_watcha['reviews'].apply(lambda x: x.replace('\n', ''))

In [55]:
watcha_titles = df_watcha['title'].unique()
df_cine_filtered = df_cine[df_cine['title'].isin(watcha_titles)]
df_cine_filtered['title'].nunique()

120

In [56]:
df_cine_filtered['rating'] = df_cine_filtered['rating'].apply(lambda x: x / 2 if x > 5 else x)
df_cine_filtered

C:\Users\kkksk\AppData\Local\Temp\ipykernel_6712\3841955132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cine_filtered['rating'] = df_cine_filtered['rating'].apply(lambda x: x / 2 if x > 5 else x)

         title  rating                                            reviews
0      싱글 인 서울     3.0  박범수 감독이 연출한 <싱글 인 서울>은 책을 출판하기 위해 함께하는 두 남녀의 사...
1      싱글 인 서울     5.0  한국에서 청년층이 연애하지 않는 이유를 사회적인 제약으로만 생각하려는 경향이 강하다...
2      싱글 인 서울     4.0  평범하면서 가을 느낌을 솔솔 풍기며 힐링을 주는 로맨틱코미디영화였습니다! 싱글을 전...
3    아바타: 물의 길     4.0  제임스 카메론 감독이 연출한 <아바타: 물의 길>은 13년 만에 제작된 <아바타>의...
4    아바타: 물의 길     5.0  존재 자체로 각인되는 아바타 두 번째 이야기 ‘물의 길’은 감독 제임스 카메론의 본...
..         ...     ...                                                ...
642        더 문     4.0  달과 우주를 배경으로 긴장과 몰입 그리고 감동을 함께 선사한 SF영화였습니다! 한국...
643        더 문     5.0          Actor Doh Kyungsoo's big screen comeback!
644         타겟     3.0                       억울한 일을 당하는 역할은 서영희 이후 신혜선이 갑
645         타겟     5.0  박희곤 감독이 연출한 <타겟>은 중고거래 사기를 당한 여성이 복수를 하려다 벌어지는...
646         타겟     4.0  소름돋으면서 긴장감을 형성시킨 서스펜스범죄영화였습니다! 중고거래를 명목으로 사기 및...

[478 rows x 3 columns]

In [57]:
reviews_df = pd.concat([expanded_reviews_df, df_cine_filtered], axis=0)

In [58]:
reviews_df.sort_values(by='title', inplace=True)
reviews_df.reset_index(inplace=True)
print(reviews_df['title'].nunique())

156

In [59]:
reviews_df

,index,title,rating,reviews
0,88,1947 보스톤,5.0,"2023.9.18. '국립국어원(온라인가나다 상세보기)'이 답변한 내용에 따르면 ,..."
1,377,1947 보스톤,2.9,올드하고 촌스러운 구석들이 있지만 후반부의 담백하면서도 몰입감을 선사한 가족용 한국...
2,374,1947 보스톤,2.9,실화 인물 바탕의 영화 초반 너무 공식을 따르긴 했지만 기름기는 잘 뺐다임시완은 배...
3,373,1947 보스톤,2.9,누군가가 간절히 노력하는 모습이 좋지 않았을 리 없다누군가의 희망은 여전히 뛰고 있...
4,372,1947 보스톤,2.9,Good : 런복동은 너무 나갔다. 임시완은 빛났다.Caution : 국뽕도 나라가...
...,...,...,...,...
1709,584,화란,3.0,분노를 표출시키면서 한편으로 투박하고 뭔가 되게 짠한 범죄느와르영화였습니다! 지옥 ...
1710,585,화란,5.0,한국 느와르에 등장하는 조폭은 미화의 대상이다. 현실에서 난폭한 범죄자일 따름이지만...
1711,587,화란,4.0,물에 빠진 관객은 누가 건져주나
1712,828,화란,3.0,무관심은 결핍을 낳고 갈구는 폭력으로부터 비롯된다 “돌아가면 그 곳이 네 집이야. ...
1713,586,화란,3.5,김창훈 감독이 연출한 <화란>은 지옥 같은 현실에서 벗어나고 싶은 소년과 그가 동경...

In [60]:
df_tmp[df_tmp['rating'].isna()]

                             title  rating reviews
9                        공조2: 인터내셔     NaN     NaN
40                             NaN     NaN     NaN
77         귀멸의 칼날: 상현집결, 그리 도공 마을로     NaN     NaN
81   귀멸의 칼날: 인연의 기적, 그리 합동 강화 훈련으로     NaN     NaN
85                            늑대사냥     NaN     NaN
114      포켓 몬스터 DP: 아르세우스 초극의 시공으로     NaN     NaN
160                           뉴 노멀     NaN     NaN

In [61]:
reviews_df = pd.concat([reviews_df,df_cine[df_cine['title'].str.contains('뉴 노멀')]])
reviews_df = pd.concat([reviews_df,df_cine[df_cine['title'].str.contains('잠')]])
reviews_df = pd.concat([reviews_df,df_cine[df_cine['title'].str.contains('공조')]])
reviews_df = pd.concat([reviews_df,df_cine[df_cine['title'].str.contains('늑대사냥')]])

In [62]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1737 entries, 0 to 58
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    1714 non-null   float64
 1   title    1737 non-null   object
 2   rating   1737 non-null   float64
 3   reviews  1737 non-null   object
dtypes: float64(2), object(2)
memory usage: 67.9+ KB

In [63]:
reviews_df.drop('index', axis=1, inplace=True)
reviews_df.to_csv("영화리뷰_최종.csv", index = False, escapechar='\\')

In [ ]:
# 허깅페이스에서 한국어 영화 리뷰 데이터에 파인튜닝된 BERT 불러와서 사용

import pandas as pd
from transformers import BertTokenizer, BertForSequenceClassification
import torch

tokenizer = BertTokenizer.from_pretrained('sangrimlee/bert-base-multilingual-cased-nsmc')
model = BertForSequenceClassification.from_pretrained('sangrimlee/bert-base-multilingual-cased-nsmc')

def predict_sentiment(review):
    inputs = tokenizer(review, return_tensors="pt", truncation=True, padding=True)
    outputs = model(**inputs)
    probs = torch.nn.functional.softmax(outputs.logits, dim=-1)
    positive_logit = probs[0][1].item() * 100
    positive_logit_int = int(round(positive_logit))
    return positive_logit_int

reviews_df['sentiment'] = reviews_df['reviews'].apply(predict_sentiment)

print(reviews_df)

C:\Anaconda\lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [ ]:
import numpy as np

mean_values = reviews_df.groupby('title').agg({'rating': 'mean', 'sentiment': 'mean'}).reset_index()
mean_values['rating'] = np.round(mean_values['rating'], 2)
mean_values['sentiment'] = np.round(mean_values['sentiment'], 2)
mean_values

In [ ]:
mean_values.rename(columns = {'title' : 'Movie'}, inplace = True)
mean_values

In [ ]:
df_final = df.merge(mean_values, on='Movie', how='left')

In [ ]:
df_final.drop('Unnamed: 0', axis = 1, inplace = True)
df_final

In [ ]:
df_final[df_final['sentiment'].isna()]

In [ ]:
mean_values[mean_values['Movie'].str.contains('젠틀맨')]

In [ ]:
df_final.iloc[9, -2:] = [7.2,64.0 ]

In [ ]:
df_final.iloc[121, -2:] = [3.1, 30.0]

In [ ]:
df_final.iloc[9,1] = '공조2 : 인터내셔널'

In [ ]:
df_final

In [ ]:
df_final.to_csv("영화데이터_0702.csv", index = False)

In [ ]:
reviews_df.to_csv("리뷰별별점데이터.csv", index = False)

In [ ]:
reviews_df.drop('index', axis=1, inplace=True)
reviews_df.to_csv("영화리뷰_최종.csv", index = False, escapechar='\\')