In [1]:
import pandas as pd

In [10]:
df_books = pd.read_csv('books_newsdata_embedding.csv')

In [25]:
df_news = pd.read_csv('news_newsdata_embedding.csv')

In [26]:
df_news.head(5)

,id,title,url,published_date,embedding
0,13,Supertankers Face Extinction - The Washington ...,https://www.washingtonpost.com/archive/busines...,1986-01-05,[-3.01970273e-01 3.23799580e-01 3.80935878e-...
1,23,U.S. oil demand falls in 1985,https://www.upi.com/Archives/1986/01/15/US-oil...,1986-01-15,[-2.11567938e-01 -1.25133127e-01 7.72258222e-...
2,14,ADOBE'S SEER: B. J. PEVEHOUSE; DIGGING IN AS O...,https://www.nytimes.com/1986/01/26/business/ad...,1986-01-26,[-4.44981575e-01 6.36653975e-02 2.27530658e-...
3,8,MERC LEAVES POTATOES BEHIND,https://www.nytimes.com/1986/02/10/business/me...,1986-02-10,[ 4.24196690e-01 -3.32186334e-02 -7.59046257e-...
4,2,PRICE OF HOME HEATING OIL AT 7-YEAR LOW IN NEW...,https://www.nytimes.com/1986/02/13/nyregion/pr...,1986-02-13,[ 2.48381458e-02 2.39610672e-02 5.10437250e-...

In [27]:
df_books.head(5)

,id,url,published_date,title,embedding
0,2761,https://books.google.co.kr/books?id=v3dkAAAAIB...,1986-01-02,Notice To Oil Producers. Public Offer By North...,[ 9.66369808e-02 -5.66932149e-02 3.84515971e-...
1,2766,https://books.google.co.kr/books?id=wHdkAAAAIB...,1986-01-03,Notice To Oil Producers. Public Offer By North...,[ 9.66369808e-02 -5.66932149e-02 3.84515971e-...
2,2686,https://books.google.co.kr/books?id=wndkAAAAIB...,1986-01-05,Upg Falco Canada Notice. Ta All Producers.,[-2.00891644e-01 -2.81545281e-01 1.04159236e-...
3,2663,https://books.google.co.kr/books?id=w3dkAAAAIB...,1986-01-06,Upg Falco Canada. Ups Canada. Notice To Oil Pr...,[-2.58375376e-01 -1.87816754e-01 2.53245354e-...
4,2662,https://books.google.co.kr/books?id=xHdkAAAAIB...,1986-01-07,Upg Falco Canada Notice To Oil Producers.,[-2.98296452e-01 -1.35179490e-01 2.67906457e-...

In [28]:
df_books = df_books[['id', 'url', 'published_date', 'title', 'embedding']]

In [29]:
df = pd.concat([df_news,df_books])

In [30]:
df['published_date'] = pd.to_datetime(df['published_date'])

In [31]:
df

,id,title,url,published_date,embedding
0,13,Supertankers Face Extinction - The Washington ...,https://www.washingtonpost.com/archive/busines...,1986-01-05,[-3.01970273e-01 3.23799580e-01 3.80935878e-...
1,23,U.S. oil demand falls in 1985,https://www.upi.com/Archives/1986/01/15/US-oil...,1986-01-15,[-2.11567938e-01 -1.25133127e-01 7.72258222e-...
2,14,ADOBE'S SEER: B. J. PEVEHOUSE; DIGGING IN AS O...,https://www.nytimes.com/1986/01/26/business/ad...,1986-01-26,[-4.44981575e-01 6.36653975e-02 2.27530658e-...
3,8,MERC LEAVES POTATOES BEHIND,https://www.nytimes.com/1986/02/10/business/me...,1986-02-10,[ 4.24196690e-01 -3.32186334e-02 -7.59046257e-...
4,2,PRICE OF HOME HEATING OIL AT 7-YEAR LOW IN NEW...,https://www.nytimes.com/1986/02/13/nyregion/pr...,1986-02-13,[ 2.48381458e-02 2.39610672e-02 5.10437250e-...
...,...,...,...,...,...
2925,2929,"Friday, December 10, 2004. Opec Seen Cutting E...",https://books.google.co.kr/books?id=z6ZjAAAAIB...,2004-12-09,[-1.73047230e-01 1.48959681e-01 4.24475849e-...
2926,2904,Opec Decision Will Increase Oil Prices. Group ...,https://books.google.co.kr/books?id=n5g_AAAAIB...,2004-12-11,[-3.23993564e-01 2.05430407e-02 6.66936159e-...
2927,2905,"Nil, It. 2004s Opec Decision Ill. Increase Oil...",https://books.google.co.kr/books?id=EgdZAAAAIB...,2004-12-11,[-1.34333625e-01 -1.63214698e-01 5.17559886e-...
2928,2897,Crude Oil Prices Dip Slightly As Market Braces...,https://books.google.co.kr/books?id=HQdZAAAAIB...,2004-12-22,[-8.14704448e-02 1.37756303e-01 4.51770902e-...
2929,2848,"Commodity Rdp. Crude Oil Slides On Rising Oil,...",https://books.google.co.kr/books?id=jl0yAAAAIB...,2004-12-23,[-2.28892758e-01 -2.68889278e-01 3.51832449e-...

In [36]:
# Sort by date
sorted_df = df.sort_values(by='published_date')

In [39]:
sorted_df.drop('id',axis=1,inplace=True)

In [42]:
sorted_df.to_csv('newsdata_embedding.csv')