In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('newsdata_preprocessed+embedding.parquet')

In [8]:
df['published_date'] = pd.to_datetime(df['published_date'])

In [ ]:
df.head(30)

,title,url,published_date,embedding
0,Notice To Oil Producers Public Offer By Northr...,https://books.google.co.kr/books?id=v3dkAAAAIB...,1986-01-02,"[0.0966369808, -0.0566932149, 0.384515971, 0.1..."
1,Notice To Oil Producers Public Offer By Northr...,https://books.google.co.kr/books?id=wHdkAAAAIB...,1986-01-03,"[0.0966369808, -0.0566932149, 0.384515971, 0.1..."
2,Upg Falco Canada Notice Ta All Producers,https://books.google.co.kr/books?id=wndkAAAAIB...,1986-01-05,"[-0.200891644, -0.281545281, 0.104159236, -0.1..."
3,Supertankers Face Extinction The Washington Post,https://www.washingtonpost.com/archive/busines...,1986-01-05,"[-0.301970273, 0.32379958, 0.380935878, 0.2485..."
4,Upg Falco Canada Ups Canada Notice To Oil Prod...,https://books.google.co.kr/books?id=w3dkAAAAIB...,1986-01-06,"[-0.258375376, -0.187816754, 0.253245354, 0.14..."
5,Upg Falco Canada Notice To Oil Producers,https://books.google.co.kr/books?id=xHdkAAAAIB...,1986-01-07,"[-0.298296452, -0.13517949, 0.267906457, 0.222..."
6,Upg Falco Canada Notice To Oil Producers,https://books.google.co.kr/books?id=xXdkAAAAIB...,1986-01-08,"[-0.298296452, -0.13517949, 0.267906457, 0.222..."
7,Notice To Oil Producers Public Offer By Northr...,https://books.google.co.kr/books?id=x3dkAAAAIB...,1986-01-10,"[0.0966369808, -0.0566932149, 0.384515971, 0.1..."
8,Using Microbes To Increase Recovery Of Oil By ...,https://books.google.co.kr/books?id=KgROAAAAIB...,1986-01-14,"[-0.514697552, -0.202797905, 0.345680565, 0.22..."
9,US oil demand falls in 1985,https://www.upi.com/Archives/1986/01/15/US-oil...,1986-01-15,"[-0.211567938, -0.125133127, 0.772258222, 0.48..."
10,Speculation Follows Drop In Oil Prices,https://books.google.co.kr/books?id=WbdjAAAAIB...,1986-01-21,"[-0.0118445056, -0.219232857, 0.898386836, 0.6..."
11,Oil Slump May Bring Deficit Problems,https://books.google.co.kr/books?id=j8wzAAAAIB...,1986-01-21,"[-0.316229492, -0.26640147, 0.676116765, 0.629..."
12,Oil Price Decline Could Continue By Kathleen Day,https://books.google.co.kr/books?id=6J4_AAAAIB...,1986-01-21,"[-0.251246125, 0.287325293, 0.848370552, 0.299..."
13,Oil Prices Drop As Production Rises Sales Fall...,https://books.google.co.kr/books?id=VElPAAAAIB...,1986-01-21,"[-0.182164103, -0.241134226, 0.508543909, 0.38..."
14,Pressure On Local Oil Prices As North Sea Crud...,https://books.google.co.kr/books?id=2TVWAAAAIB...,1986-01-22,"[-0.0833354443, 0.265604138, 0.888736188, 0.21..."
15,Crude Ou Below Sus20 A Barrel As Petrol Slides,https://books.google.co.kr/books?id=kMwzAAAAIB...,1986-01-22,"[-0.145906106, 0.531303167, -0.18356289, 0.097..."
16,Opec Talks Key To Stability,https://books.google.co.kr/books?id=2jVWAAAAIB...,1986-01-23,"[-0.0673553124, 0.139947921, 0.128334686, 0.34..."
17,Crude Prices Tumble And No End In Sight,https://books.google.co.kr/books?id=kcwzAAAAIB...,1986-01-23,"[0.0685232803, -0.112334698, 0.397313684, 0.46..."
18,Vilson Under The Gun,https://books.google.co.kr/books?id=qfBfAAAAIB...,1986-01-23,"[-0.0545737818, 0.497102678, -0.336063921, 0.0..."
19,Canadian Oil Price Drops,https://books.google.co.kr/books?id=sGBYAAAAIB...,1986-01-23,"[-0.0138975214, -0.372230828, 1.11799848, 0.38..."
20,The Sydney Morning Herald,https://books.google.co.kr/books?id=2zVWAAAAIB...,1986-01-24,"[0.179410055, 0.911399364, 0.453984857, 0.5088..."
21,Oil,https://books.google.co.kr/books?id=Iv5LAAAAIB...,1986-01-24,"[-0.503789783, 0.0148270326, 0.443944544, 0.55..."
22,ADOBES SEER B J PEVEHOUSE DIGGING IN AS OIL PR...,https://www.nytimes.com/1986/01/26/business/ad...,1986-01-26,"[-0.444981575, 0.0636653975, 0.227530658, 0.08..."
23,Iran To Cut Crude Oil Output In Half In Respon...,https://books.google.co.kr/books?id=WUlPAAAAIB...,1986-01-26,"[-0.264486045, 0.699314892, 0.241488487, 0.324..."
24,The Sydney Morning Herald,https://books.google.co.kr/books?id=3jVWAAAAIB...,1986-01-27,"[0.179410055, 0.911399364, 0.453984857, 0.5088..."
25,Iran To Cut Crude Oil Output In Half In Respon...,https://books.google.co.kr/books?id=WklPAAAAIB...,1986-01-27,"[-0.264486045, 0.699314892, 0.241488487, 0.324..."
26,Iran To Halve Its Oil Output,https://books.google.co.kr/books?id=TDdiAAAAIB...,1986-01-27,"[-0.217060238, 0.737636626, 0.129736468, 0.327..."
27,Iran To Decrease Production Of Oil,https://books.google.co.kr/books?id=pDhIAAAAIB...,1986-01-27,"[0.119908504, 0.987624824, 0.281168133, 0.4008..."
28,Business Iran Will Cut Oil Production In Half,https://books.google.co.kr/books?id=I_5LAAAAIB...,1986-01-27,"[-0.126997471, 0.49812153, 0.409178436, 0.0238..."
29,St Joseph Gazette,https://books.google.co.kr/books?id=ve9eAAAAIB...,1986-01-27,"[0.194515303, 0.295238435, -0.329845041, 0.191..."

In [12]:
start_date = '1986-01-01'
end_date = '2024-01-31'
all_dates = pd.date_range(start=start_date, end=end_date, freq='D')

In [13]:
missing_dates = all_dates.difference(df['published_date'])

In [14]:
missing_dates

DatetimeIndex(['1986-01-01', '1986-01-04', '1986-01-09', '1986-01-11',
               '1986-01-12', '1986-01-13', '1986-01-16', '1986-01-17',
               '1986-01-18', '1986-01-19',
               ...
               '2023-12-03', '2023-12-10', '2023-12-17', '2023-12-24',
               '2023-12-25', '2023-12-31', '2024-01-06', '2024-01-13',
               '2024-01-15', '2024-01-28'],
              dtype='datetime64[ns]', length=8538, freq=None)

In [16]:
missing_df = pd.DataFrame(missing_dates, columns=['date'])

missing_df['year'] = missing_df['date'].dt.year
missing_df['month'] = missing_df['date'].dt.month

missing_counts_per_month = missing_df.groupby(['year', 'month']).size()

print("Missing days per month:")
print(missing_counts_per_month)

Missing days per month:
year  month
1986  1        14
      2        11
      3        17
      4        21
      5        22
               ..
2023  9        12
      10       10
      11        6
      12        7
2024  1         4
Length: 457, dtype: int64

In [21]:
sorted_counts = missing_counts_per_month.sort_index()

# Convert the sorted series to a DataFrame
missing_counts_df = sorted_counts.reset_index(name='missing_days')

print(missing_counts_df)

     year  month  missing_days
0    1986      1            14
1    1986      2            11
2    1986      3            17
3    1986      4            21
4    1986      5            22
..    ...    ...           ...
452  2023      9            12
453  2023     10            10
454  2023     11             6
455  2023     12             7
456  2024      1             4

[457 rows x 3 columns]

In [39]:
missing_counts_df[missing_counts_df['missing_days']>=10]

     year  month  missing_days
0    1986      1            14
1    1986      2            11
2    1986      3            17
3    1986      4            21
4    1986      5            22
..    ...    ...           ...
449  2023      6            17
450  2023      7            20
451  2023      8            15
452  2023      9            12
453  2023     10            10

[444 rows x 3 columns]

In [43]:
missing_counts_df.loc[0:12]

    year  month  missing_days
0   1986      1            14
1   1986      2            11
2   1986      3            17
3   1986      4            21
4   1986      5            22
5   1986      6            24
6   1986      7            21
7   1986      8            24
8   1986      9            22
9   1986     10            23
10  1986     11            23
11  1986     12            26
12  1987      1            16